.container0{
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto auto;
}

.border{
    background-color: #cae9f9;
    width: 30vw;
    margin: 10px;
    border-radius: 10px;
    padding: 30px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-content: center;
}