
/* .table-container{
    display: flex;
    justify-content: center;
}

.table{
    width: 95%;
}

.table td{
    text-align: center;
}

.link{
    color: rgba(0, 0, 255, 0.815);
    cursor: pointer;
}

.link:hover{
    color: blue;
    transform: scale(1.025);
} */

